/* para hindi lumagpas nung text sa div or element */
p.zipCode {
    word-break: break-word;
    white-space: pre-wrap;
  }

/* for scroll bar and hide the excess context below */
  #text {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
}
